{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.course.course_name }}</h2>
    <img src="{{ page_data.image }}" style="width: 250px">
    <p>Course ID: {{ page_data.course.course_id }}</p>
    <p>Description: {{ page_data.course.description }}</p>
    <p>Cost: {{ page_data.course.cost }}</p>
    <p>Creator: {{ page_data.course.creator.name }} ({{ page_data.course.creator.email }})</p>
    <form action="/courses/{{ page_data.course.course_id }}/enrol/" method="POST">
        <button>Enrol</button>
    </form>
    <form action="/courses/{{ page_data.course.course_id }}/drop/" method="POST">
        <button>Un-Enrol</button>
    </form>
    <br><br>
    
    <h3>Update Course Info:</h3>
    <form action="/courses/{{ page_data.course.course_id }}/", method="POST">
        <input type="text" name="course_name" placeholder="Course Name..."/>
        <input type="text" name="description" placeholder="Description..."/>  
        <input type="number" name="cost" placeholder="Cost..."/>
        <button>Update</button>
    </form>

    <br><br>

    <h3>Update Image:</h3>
    <form action="/courses/{{ page_data.course.course_id }}/image/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>


    <br/><br/>
    
    <form action = "/courses/{{ page_data.course.course_id }}/delete/", method="POST">
        <button>DELETE COURSE</button>
    </form>

{% endblock %}