{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Course</h2>
        <div>
            <form action="/courses/" method="POST">
                <input type="text" name="course_name" placeholder="Course Name..."/>
                <input type="text" name="description" placeholder="..."/>
                <button>Create</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Course List</h2>
    <table class="table">
        <thead>
            <tr>    
                <th>Course Name</th>
                <th>Description</th>
            </tr>
        </thead>
        {% for course in page_data.courses %}
        <tbody>
            <tr>
                <td>
                    <a href="/courses/{{ course.course_id }}/">{{ course.course_name }}</a>
                </td>
                <td>
                    {{ course.description }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}

